<h3 id="galleryPage">Gallery</h3>
<div class="col-md-9 albums">
  <h4>Albums</h4>
	<div class="col-xs-12 col-sm-12 col-md-5 col-md-push-2 album album-thumb" onclick="viewAlbum(this)">
    <a>
    <%= image_tag("300_300/Learned_Ladies_2_300x300.png") %>
  	<!-- needed- load text on small device instead of load image -->
		<h4 class="album-label">Learned Ladies<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></h4>
    </a>
    <div class="album-entries hidden">
      <%= image_tag("x800/Learned_Ladies_1_800.png") %>
      <%= image_tag("x800/Learned_Ladies_2_800.png") %>
      <%= image_tag("x800/Learned_Ladies_3_800.png") %>
      <%= image_tag("x800/Learned_Ladies_4_800.png") %>
      <%= image_tag("x800/Learned_Ladies_5_800.png") %>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-5 col-md-push-1 album album-thumb" onclick="viewAlbum(this)">
		<a><%= image_tag("300_300/Angels_In_America_4_300x300.png") %>
		<h4 class="album-label">Angels In America<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></h4>
    </a>
    <div class="album-entries hidden">
      <%= image_tag("x800/Angels_In_America_1_800.png") %>
      <%= image_tag("x800/Angels_In_America_2_800.png") %>
      <%= image_tag("x800/Angels_In_America_3_800.png") %>
      <%= image_tag("x800/Angels_In_America_4_800.png") %>
      <%= image_tag("x800/Angels_In_America_5_800.png") %>
      <%= image_tag("x800/Angels_In_America_6_800.png") %>
      <%= image_tag("x800/Angels_In_America_7_800.png") %>
      <%= image_tag("x800/Angels_In_America_8_800.png") %>
      <%= image_tag("x800/Angels_In_America_9_800.png") %>
      <%= image_tag("x800/Angels_In_America_10_800.png") %>
      <%= image_tag("x800/Angels_In_America_11_800.png") %>
      <%= image_tag("x800/Angels_In_America_12_800.png") %>
      <%= image_tag("x800/Angels_In_America_13_800.png") %>
      <%= image_tag("x800/Angels_In_America_14_800.png") %>
      <%= image_tag("x800/Angels_In_America_15_800.png") %>
      <%= image_tag("x800/Angels_In_America_16_800.png") %>
      <%= image_tag("x800/Angels_In_America_17_800.png") %>
      <%= image_tag("x800/Angels_In_America_18_800.png") %>
      <%= image_tag("x800/Angels_In_America_19_800.png") %>
      <%= image_tag("x800/Angels_In_America_20_800.png") %>
      <%= image_tag("x800/Angels_In_America_21_800.png") %>
      <%= image_tag("x800/Angels_In_America_22_800.png") %>
      <%= image_tag("x800/Angels_In_America_23_800.png") %>
      <%= image_tag("x800/Angels_In_America_24_800.png") %>
      <%= image_tag("x800/Angels_In_America_25_800.png") %>
    </div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-5 col-md-push-4 album album-thumb" onclick="viewAlbum(this)">
		<a>
      <%= image_tag("300_300/Certified_Knight_300x300.png") %>
  		<h4 class="album-label">More Photos<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></h4>
    </a>
    <div class="album-entries hidden">
      <%= image_tag("x800/Certified_Knight_800.png") %>
    </div>
	</div>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-md-8">
  <h4>Video Reel</h4>
</div> -->
