<div id="headerUnit" class="hidden-xs hidden-sm col-md-3 col-md-push-9">
	<div class="row">
		<%= render 'socialMediaLinks' %>
	</div>
	<div class="row row-index">
		<h3 class="">Alex Bodine</h3>
	</div>
	<div class="row">
		<%= render 'navbar' %>
	</div>
	<div class="row">
		<%= render 'newsfeed' %>
	</div>
</div>

<div id="mobileNav" class="hidden-md hidden-lg col-xs-12 col-sm-12">
	<%= render 'mobileNav' %>
</div>

<div style="width:100%; height:100%;">
	<%= image_tag("x800/Angels_In_America_4_800.png", width: "100%") %>
</div>

<div id="contentUnit" class="col-xs-12 col-sm-12 col-md-12">
	<div class="row row-bio" id="bio">
		<%= render 'bio' %>
	</div>
	<div class="row row-gallery">
		<%= render 'gallery' %>
	</div>
</div>