<div class="row row-index">
	<%= image_tag("10153884_10152534983037858_2895241018831172779_n.jpg") %>
	<!-- <img class="index-img" src="#"> -->
	<h3>Alex Bodine</h3>
</div>
<div class="row">
	<%= render 'navbar' %>
</div>
<div class="row">
	<%= render 'newsfeed' %>
</div>
<div class="row">
	<%= render 'bio' %>
</div>
<div class="row row-gallery">
	<%= render 'gallery' %>
</div>


